.tile-unselected
  background: grey
.tile-selected
  background: rgb(0, 117, 187)

.hint-row-tile
  border-style: outset
  border-left: 0
  border-right: 0
  border-width: 1px
  border-color: rgb(104, 104, 104)

.hint-column-tile
  border-style: outset
  border-top: 0
  border-bottom: 0
  border-width: 1px
  border-color: rgb(104, 104, 104)

.board
    max-width: 850px

@media only screen and (max-width: 1010px)
  .board-phone
    max-width: 420px
