<mat-toolbar class="primary-color-bg unselectable">
  <button mat-icon-button (click)="toggleSidebar()" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a  routerLink="home">
    <img class="navbar-logo navbar-logo-phone" src="http://www.chasersmith.com/nonocross-online/logo-re.png">
  </a>
  <span class="navbar-spacer"></span>
  <button mat-icon-button *ngIf="loggedIn" [matMenuTriggerFor]="profileMenu" style="height: 70px;">
    <img class="img-avatar" width="38px" src="{{ userAvatarUrl}}">
  </button>
  <button mat-button *ngIf="showLoginButton" (click)="openLoginDialog()">Log In</button>
  <mat-menu #profileMenu="matMenu" style="padding-top: 100px;">
    <button mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
</mat-toolbar>
