<app-navbar (toggleSidebarEvt)="sidenav.toggle()"></app-navbar>
<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav class="sidenav secondary-color-bg" #sidenav mode="side" style="width: 250px;">
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="sidenav.close()">Home</a>
      <a mat-list-item class="secondary-color-bg" style="color: grey" routerLink="library" (click)="sidenav.close()" disabled>Library ( Coming Soon )</a>
      <a mat-list-item routerLink="editor" (click)="sidenav.close()">Editor</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content (click)="sidenav.close()" class="sidenav-content background-color-bg">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

