<mat-toolbar class="primary-color-bg unselectable">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-logo" routerLink="home">
    <img  src="http://www.chasersmith.com/nonocross-online/logo-re.png">
  </a>
  <span class="navbar-spacer"></span>
  <button mat-icon-button *ngIf="loggedIn" [matMenuTriggerFor]="profileMenu" style="height: 70px;">
    <img class="img-circle" width="38px" src="{{ userAvatarUrl}}">
  </button>
  <button mat-button *ngIf="showLoginButton" (click)="openLoginDialog()">Log In</button>
  <mat-menu #profileMenu="matMenu" style="padding-top: 100px;">
    <button mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav class="sidenav secondary-color-bg" #sidenav mode="side" style="width: 250px;">
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="sidenav.close()">Home</a>
      <a mat-list-item class="secondary-color-bg" style="color: grey" routerLink="library" (click)="sidenav.close()" disabled>Library ( Coming Soon )</a>
      <a mat-list-item routerLink="editor" (click)="sidenav.close()">Editor</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content (click)="sidenav.close()" class="sidenav-content background-color-bg">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

