<div>
  <div class="row">
    <div *ngIf="!isLoggedIn" class="col computer-col"></div>
    <div class="col">
      <mat-card style="max-width: 260px;">
        <mat-card-subtitle>Settings</mat-card-subtitle>
        <form #boardSettings (ngSubmit)="board.newBoard(boardSizeSelect.value, difficultySelect.value)">
          <mat-form-field appearance="fill" >
            <mat-label>Choose a size</mat-label>
            <mat-select #boardSizeSelect required>
              <mat-option [value]="option.value" *ngFor="let option of sizeOptions">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" >
            <mat-label>Choose a difficulty</mat-label>
            <mat-select #difficultySelect required>
              <mat-option [value]="option.value" *ngFor="let option of difficultyOptions">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button disabled="{{boardSizeSelect.selected&&!difficultySelect.selected}}" class="primary-color-bg m-1">New</button>
        </form>
      </mat-card>
      <br>
    </div>
    <div class="col unselectable gameboard">
      <app-gameboard #board [difficulty]="newDifficultyOption" [boardSize]="newSizeOption"></app-gameboard>
    </div>
    <div *ngIf="!isLoggedIn" class="col computer-col"></div>
    <div *ngIf="isLoggedIn" class="col" style="width: 400px;">
      <mat-card>
        <mat-card-subtitle>Custom Nonograms</mat-card-subtitle>
        <app-nonogram-list (openNonogramEvent)="importNonogram($event); board.newBoard(newSizeOption, newDifficultyOption, importedSolution)"></app-nonogram-list>
      </mat-card>
    </div>
  </div>
</div>
